<!-- <div *ngIf="tileList.length == 0" class="set-holder">
    <app-tile [tile]="null" style='margin-left: 10px'></app-tile>
</div> -->

<div *ngIf="tileList.length > 0" class="set-holder">
    <ng-container *ngFor="let tile of tileList">
        <app-tile [tile]="tile" style='margin-left: 10px'></app-tile>
    </ng-container>
</div>