<div mat-dialog-content>
        <app-tile-set [tileList]="data.tileSet.tiles()"></app-tile-set>

        <div style="display: flex; flex-direction: column;">
                <mat-form-field>
                        <mat-label>Type</mat-label>
                        <mat-select [(value)]="setType" (selectionChange)="onChangeSetType($event)">
                                <mat-option value="group">Group</mat-option>
                                        <mat-option value="run">Run</mat-option>
                                </mat-select>
                </mat-form-field>
                        
                <mat-form-field *ngIf="setType == 'run'">
                        <mat-label>Set Color</mat-label>
                        <mat-select [(value)]="selectedColor" (selectionChange)="onChangeColor($event)">
                                <mat-option value="black" style="color: black;">Black</mat-option>
                                <mat-option value="blue" style="color: blue;">Blue</mat-option>
                                <mat-option value="red" style="color: red;">Red</mat-option>
                                <mat-option value="green" style="color: green;">Green</mat-option>
                        </mat-select>
                </mat-form-field>
        </div>

</div>

<div mat-dialog-actions>
        <button mat-raised-button (click)="onAddClicked()" class="btn btn-success">Add</button>
</div>