.color-holder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tile-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile-button-holder{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.see-through{
    opacity: 0.50;
}