<mat-tab-group>

    <mat-tab label="Black">
    <div class="color-holder">
        <div *ngFor="let tile of Gameboard.BLACK_TILES" class="tile-holder">
            <app-tile [tile]="tile" [ngClass]="getTileClass(tile)"></app-tile>
            <div class="tile-button-holder">
                <button mat-icon-button (click)="data.tiles.remove(tile)">
                    <mat-icon>remove</mat-icon>
                </button>
                <span>{{numberInHand(tile)}}</span>
                <button mat-icon-button (click)="data.tiles.add(tile)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
    </mat-tab>

    <mat-tab label="Blue">
    <div class="color-holder">
        <div *ngFor="let tile of Gameboard.BLUE_TILES" class="tile-holder">
            <app-tile [tile]="tile" [ngClass]="getTileClass(tile)"></app-tile>
            <div class="tile-button-holder">
                <button mat-icon-button (click)="data.tiles.remove(tile)">
                    <mat-icon>remove</mat-icon>
                </button>
                <span>{{numberInHand(tile)}}</span>
                <button mat-icon-button (click)="data.tiles.add(tile)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
    </mat-tab>

    <mat-tab label="Red">
    <div class="color-holder">
        <div *ngFor="let tile of Gameboard.RED_TILES" class="tile-holder">
            <app-tile [tile]="tile" [ngClass]="getTileClass(tile)"></app-tile>
            <div class="tile-button-holder">
                <button mat-icon-button (click)="data.tiles.remove(tile)">
                    <mat-icon>remove</mat-icon>
                </button>
                <span>{{numberInHand(tile)}}</span>
                <button mat-icon-button (click)="data.tiles.add(tile)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
    </mat-tab>

    <mat-tab label="Green">
    <div class="color-holder">
        <div *ngFor="let tile of Gameboard.GREEN_TILES" class="tile-holder">
            <app-tile [tile]="tile" [ngClass]="getTileClass(tile)"></app-tile>
            <div class="tile-button-holder">
                <button mat-icon-button (click)="data.tiles.remove(tile)">
                    <mat-icon>remove</mat-icon>
                </button>
                <span>{{numberInHand(tile)}}</span>
                <button mat-icon-button (click)="data.tiles.add(tile)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
    </mat-tab>

</mat-tab-group>