.tile-holder{
    height: 100px;
    width: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    background-color: #fff0b8;

    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
@media only screen and (max-width: 600px) {
    .tile-holder{
        height: 75px;
        width: 37px;
    }
}

.black{
    color: black;
}

.blue{
    color: blue;
}

.red{
    color: red;
}

.green{
    color: green;
}

.empty{
    opacity: 0.5;
}