<div class="tile-holder empty" *ngIf="tile == null">
    <div>?</div>
    <div></div>
</div>

<div [ngClass]="getClass()" class="tile-holder" *ngIf="tile != null">
    <div>{{tile.isWild() ? ':)' : tile.value}}</div>
    <div></div>
</div>