.page-container{
    height: 100vh;
    width: 100vw;

    box-sizing: border-box;

    display: grid;
    grid-template-rows: 4fr 1fr;

    max-width: 1000px;
    margin: 0 auto;
}


#gameboard{
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

#gameboard-sets-wrapper{
    position: relative;
    height: 100%;
    overflow-y: auto;

    box-sizing: border-box;
    padding: 20px;
}

#hand{
    position: relative;
}

#hand-wrapper{
    background: midnightblue;
    overflow-y: auto;
    position: relative;
}

#toolbar{
    overflow: hidden;
    border: solid 1px black;


    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.lower-right{
    position: absolute;
    right: 5px;
    bottom: 5px;
}


.contain{
    height: 100%;
    width: 100%;
}

.board-set{
    margin-top: 10px;
}

.set-toolbar{
    display: flex;
    justify-content: flex-end;
}