<div class="page-container">

  <div id="gameboard" class="contain">
    <div id="gameboard-sets-wrapper">
        <mat-card *ngFor="let set of board.getTileSets(); let i = index" class="board-set">
            <app-tile-set [tileList]="set.tiles()"></app-tile-set>
          
            <div class="set-toolbar">
                <button mat-stroked-button color="primary" (click)="onEditSetClicked(set)"><mat-icon>edit</mat-icon></button>
                <button mat-stroked-button color="warn" (click)="board.removeTileSet(i)"><mat-icon>clear</mat-icon></button>
            </div>
        </mat-card>
    </div>


    <button class="lower-right" color="primary" mat-mini-fab (click)="onAddSetClicked()"><mat-icon>add</mat-icon></button>

  </div>


  <div id="hand-wrapper" class="contain">
      <div id="hand" class="contain">
          <app-tile-set [tileList]="hand.tiles.tiles()"></app-tile-set>      
        </div>

        <div class="lower-right">
            <button color="primary" mat-mini-fab (click)="onEditHandClicked()"><mat-icon>edit</mat-icon></button>
            <button color="primary" mat-fab (click)="onHelpClicked()"><mat-icon>done</mat-icon></button>
        </div>
  </div>
</div>