<h2 style="text-align: center;">Solution {{currentSolutionIndex + 1}} of {{data.length}}</h2>

<div *ngIf="data.length > 0">
        <app-tile-set *ngFor="let set of getSolution()" [tileList]="set.tiles()"></app-tile-set>

        <div id="toolbar">
            <button mat-stroked-button color="primary" [disabled]="currentSolutionIndex == 0" (click)="currentSolutionIndex = currentSolutionIndex - 1"><mat-icon>keyboard_arrow_left</mat-icon></button>
            <button mat-stroked-button color="primary" [disabled]="currentSolutionIndex == data.length - 1" (click)="currentSolutionIndex = currentSolutionIndex + 1"><mat-icon>keyboard_arrow_right</mat-icon></button>
        </div>
</div>

