<h2 style="text-align: center">Select Tiles</h2>

<div class='tile-holder'>
    <app-tile *ngFor="let tile of validTiles" [tile]="tile" [ngClass]="getTileClass(tile)" class="my-tile" (click)="onTileClicked(tile)"></app-tile>
</div>

<button mat-raised-button (click)="onDoneClicked()" style="float: right; margin-top: 25px;">Done</button>